/* #region---|| RESETS ||--- */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin & padding */
  * {
    margin: 0;
    padding: 0;
  }
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
/* #endregion---|| RESETS ||--- */
/* #region---|| FONTS ||--- */
:root {
  --font-primary: "Roboto", -apple-system, BlinkMacSystemFont, sans-serif;
}

* {
  font-family: var(--font-primary);
}
/* #endregion ---|| FONTS ||--- */
/* #region---|| GLOBAL ||--- */
html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    min-height: 100%;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('./assets/background-img.jpg');
    background-size: cover;
    background-position: center 30%; 
    z-index: -1;
}

header, main, footer {
    position: relative;
    z-index: 1;
}
/* #endregion---|| GLOBAL ||--- */
/* #region---|| HEADER ||--- */
header {
    font-weight: 300;
    color: white;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.bookshelf-svg {
    height: 2.5rem;
    filter: invert(1);
}

#addBookBtn {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
  }
  
  #addBookBtn svg {
    height: 50px;
    filter: invert(1);
    transition: transform 250ms;
  }
  
  #addBookBtn svg:hover {
    filter: invert(0);
    transform: scale(1.25) rotate(-90deg);
    cursor: pointer;
  }
/* #endregion---|| HEADER ||--- */
/* #region---|| NEW BOOK FORM ||--- */
dialog {
  margin: auto;
  font-weight: 700;
  padding: 2rem;
  width: 450px;
  height: 590px;
  position: relative;
  background-color: rgba(69, 69, 69, 0.75);
  color: white;
  border-radius: 1rem;
  border: none;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
}

#addBookDialog {
  position: relative;
}

.field {
  display: flex;
  flex-flow: column;
  padding: 0.4rem;
  border-radius: 50px;
}

.field label[for='title'] {
  margin-top: 1rem;
}

.field input {
  border-radius: 0.5rem;
  border: none;
  padding: 0.4rem 0.4rem;
  margin: 0.4rem 0;
}

.field input:focus {
  border: none;
  outline: none;
}

fieldset {
  border-style: none;
  padding: 0.7rem;
}

fieldset legend {
  padding-top: 10px;
}

fieldset .radio label {
  font-size: 10pt;
  font-weight: 500;
}

button[value='cancel'] {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

button[value='cancel'] svg {
  display: block;
  width: 35px;
  height: 35px;
  fill: white;
  transition: fill 50ms ease;
}

button[value='cancel']:hover svg {
  fill: red;
}

button[type='reset'] {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

button[type='reset'] svg {
  fill: white;
  display: block;
  width: 35px;
  height: 35px;
  transition: fill 50ms ease;
}

button[type='reset']:hover svg {
  fill: yellow;
}

#confirmBtn {
  font-weight: 800;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0rem;
  font-size: 1rem;
  box-shadow: 2px 2px 30px black;
  transition: transform 50ms;
}

#confirmBtn:hover {
  cursor: pointer;
  transform: scale(1.03);
}

#confirmBtn:active {
  transform: scale(0.97);
  box-shadow: 3px 3px 40px black;
}
/* #endregion---|| NEW BOOK FORM ||--- */
/* #region---|| CONTENT||--- */
main {
  display: grid;
  font-weight: 300;
  color: whitesmoke;
}

.shelf-container {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 0rem;
  padding-bottom: 2rem;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
}

.shelf-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  margin-top: 0.5rem;
}

.shelf-header {
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.bookshelf {
  display: flex;
  flex-wrap: wrap;
  gap: 0rem;
  justify-content: center;
  margin: 0;
  border-bottom: 2px solid #ccc;
  min-height: 310px;  /* adjust value based on card height + padding */
  background-color: rgba(0,0,0,0.02);
}

.bookshelf:empty::before {
  content: "No books on this shelf";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: whitesmoke;
  font-style: italic;
}

#reading {
  /* background-color: rgba(30, 144, 255, 0.1); blue */
}

#tbr {
  /* background-color: rgba(240, 128, 128, 0.1); coral */
}

#read {
  /* background-color: rgba(144, 238, 144, 0.1); green */
}

/* book cards within each shelf */
.book-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  width: 200px;      
  height: 275px;     
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  background-color: rgba(69, 67, 67, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  overflow: hidden;
}

/* card text content */
.book-card h3 {
  font-size: 1.3rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
  padding: 0.2rem;
  white-space: normal;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  background-color: rgba(0,0,0,0.1);
  box-shadow: 0 2px 3px rgba(0,0,0,0.4);
  border-radius: 8px;
  overflow: hidden;
}

.book-card p {
  font-size: 1rem;
  font-weight: 450;
  text-align: center;
  margin: 0.3rem 0;
}

.deleteBtn {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  border-bottom-left-radius: 50%;
  border: 7px solid transparent;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  background-image: url('assets/delete.svg');
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: -1px 1px 5px gray;
}

.deleteBtn:hover {
  background-color: lightcoral;
  background-image: url('assets/delete-empty.svg');
}

/* base state (TBR) */
.read-toggle {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(assets/eye-off.svg);
  background-color: lightcoral;
  border-top-right-radius: 50%;
  border: 7px solid transparent;
  box-shadow: 1px -1px 3px gray;
}

/* read state */
input[type='checkbox']:checked + .read-toggle {
  background-image: url(assets/eye-check-outline.svg);
  background-color: lightgreen;
}

/* currently Reading state */
input[type='checkbox'].reading + .read-toggle {
  background-image: url(assets/eye-white.svg);
  background-color: dodgerblue;
}

/* hover states */
.read-toggle:hover {
  background-image: url(assets/eye-white.svg);
}

/* #endregion---|| CONTENT||--- */
/* #region---|| FOOTER ||--- */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  font-weight: 500;
  color: whitesmoke;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 -4px 3px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

footer p {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 500;
}

.github-icon {
  transition: transform 0.5s ease-in-out;
  margin-left: -5px;
  position: relative;
  bottom: 0px;
  left: 0px;
}

.github-icon:hover {
  transform: rotate(360deg);
}
/* #endregion---|| FOOTER ||--- */